{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "menu.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
  <div id="main" class="m-2">
    <h2>HTMX Demo</h2>
    <p>htmx is a library that allows you to access modern browser features directly from HTML, rather than using javascript.</p>
    <p> The top menu select is retrieved from the component service, and then rendered server side.</p>
    <p>When you select a page, dynamic content is retieved from a content service, and a component with this content is served.</p>
  </div>
</div>

{{template "footer.html" .}}
