<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/img/favicon/favicon.ico" type="image/x-icon" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/public/css/libs.bundle.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/public/css/theme.bundle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Title -->
    <title>Celestial Technologies. {{ .pageName }} </title>
</head>